section.section-pictures
    each image, index in tour.images
        div.picture-box
            img.picture-box__img(class="picture-box__img picture-box__img--" + (index + 1) src="/img/tours/" + image alt="Image " + (index + 1))
